/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#wrapper {
    position: relative; /* to contain enclosing absolutely positioned elements */
    margin: 0 auto;
}

h2 {
    font-family: "Gochi Hand", Helvetica, sans-serif !important;
}

#board {
    display: none;
}

#board td {
    border: 2px solid #222;
    text-align: center;
    color: #222;
    font-weight: bold;
}

#start {
    padding: 5px;
    display: block;
    border-radius: 4px !important;
}

#cat {
    display: none;
    z-index: 999;
}

#loading {
    display: none;
    background-image: url('../img/loader.gif');
    background-color: transparent;
    background-position: center bottom;
    background-repeat: no-repeat;
}

#dialog-continue,
#dialog-setup,
#dialog-confirm,
#player_human,
#has_game {
    display: none;
}

.ui-dialog-content {
    float: left;
    height: 50px !important;
    padding: 25px 25px 0 !important;
}

.ui-dialog-buttonpane {
    float: right;
    border-width: 0 !important;
}

.ui-icon-closethick,
.ui-dialog-titlebar {
    display: none !important;
}

#space0, #space1, #space2 {
   border-top-width: 0 !important;
}

#space6, #space7, #space8 {
   border-bottom-width: 0 !important;
}

#space0, #space3, #space6 {
   border-left-width: 0 !important;
}

#space2, #space5, #space8 {
   border-right-width: 0 !important;
}

.shaded {
    background-color: #f6f6f6;
}

/* Desktops and laptops */
@media only screen
and (min-width: 1200px) {

#wrapper {
    max-width: 1200px;
}

h1 {
    float: left;
    font-size: 400% !important;
    width: 300px;
    margin: .67em 0 0 .67em !important;
}

h2 {
    float: left;
    clear: left;
    font-size: 250% !important;
    width: 300px;
    margin: -.5em 0 0 1.5em !important
}

#board {
    clear: left;
    margin: 0 auto;
}

#board td {
    height: 120px;
    width: 120px;
    font-size: 40px;
}

#start {
    float: left;
    margin: 65px 0 0 200px;
}

#cat {
    position: absolute;
    top: 150px;
    right: 40px;
    height: 370px;
    width: 300px;
}

#loading {
    height: 450px;
    width: 400px;
    position: absolute;
    top: 120px;
    left: 50%;
    margin-left: -200px;
}

#thanks {
    width: 100%;
}

} /* Desktops and laptops */

/* iPads (portrait and landscape) */
@media only screen
and (min-width: 768px)
and (max-width: 1199px) {

h1 {
    font-size: 400% !important;
    width: 300px;
    margin: .67em auto 0 auto !important;
}

h2 {
    font-size: 250% !important;
    width: 300px;
    margin: 0 auto !important;
    position: relative; /* switch the position of start button and h2 */
    top: -70px;
}

#board {
    margin: 20px auto 0 auto;
}

#board td {
    height: 120px;
    width: 120px;
    font-size: 40px;
}

#start {
    margin: 0 auto;
    position: relative; /* switch the position of start button and h2 */
    top: 70px;
}

#cat {
    position: absolute;
    top: 210px;
    left: 50%;
    margin-left: -182px;
    height: 450px;
    width: 365px;
}

#loading {
    height: 450px;
    width: 400px;
    position: absolute;
    top: 120px;
    left: 50%;
    margin-left: -200px;
}

#thanks {
    text-align: center;
    width: 100%;
}

#thanks2 {
    position: static; /* switch the position of start button and h2 */
    text-align: center;
}

} /* iPads (portrait and landscape) */

/* Smartphones (portrait and landscape) */
@media only screen
and (max-width: 767px) {

h1 {
    font-size: 250% !important;
    width: 300px;
    margin: .67em auto 0 auto !important;
}

h2 {
    font-size: 150% !important;
    width: 300px;
    margin: 0 auto !important;
    position: relative; /* switch the position of start button and h2 */
    top: -70px;
}

#thanks {
    text-align: center;
    width: 80%;
}

#thanks2 {
    position: static; /* switch the position of start button and h2 */
    text-align: center;
}

} /* Smartphones (portrait and landscape) */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screen readers: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
/* Styles */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
